.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.category-title {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.question-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.question-link {
  color: #7CB9E8;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
}

.lock-icon {
  color: #c99a24;
  position: relative;
}

.question-link:visited {
  text-decoration: none; 
}

.question-link:hover {
  color: white;
  cursor: pointer;
}

.difficulty-tag {
  /* color: white; */
  color: #282c34;
  font-size: 15px;
  width: fit-content;
  min-width: 132px;
  margin: 0 auto;
  padding: 5px 0px;
  border-radius: 15px;
  font-weight: 400;
}

.Easy {
  color: #6eebb7;
  /* border: 1px solid #4fcf9a; */
}

.Medium {
  color: #2f93f9;
}

.Hard {
  color: #ba4cff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
  margin: 0;
}

.page {
  margin: 0  10vw;
}

h1 {
  margin-top: 0;
  padding-top: 15px;
  text-align: center;
  color: white;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
}

.filters-container {
  position: sticky;
  top: 0px;
  background: #282c34;
  z-index: 999;
  padding-bottom: 2px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dropdown-container {
  display: flex;
  align-self: flex-end;
}

.dropdown {
  width: 15vw;
  margin-right: 15px;
}

.search {
  width: 80%;
  margin-right: 4vw;
  justify-self: center;
}

.search-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px !important;
  margin-left: 10px;
}

#outlined-basic-label {
  padding-left: 30px;
}

#outlined-basic-label.Mui-focused {
  padding-left: 0;
}

#outlined-basic {
  padding-left: 40px;
}

/*Table styles*/
th {
  position: sticky;
  top: 114px;
  text-align: center;
  background: #282c34;
  z-index: 999;
}

tr th:nth-child(-n + 3)::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 59px;
  width: 100%;
  border-bottom: 1px solid white !important;
  filter: drop-shadow(0px 2px 3px #141414);
}

.MuiTableContainer-root {
  overflow-x: inherit !important;
}

/*Mobile*/
@media (max-width: 823px) {
  .page {
    margin: 0;
  }
  
  .filters {
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
  }

  .search {
    align-items: center;
    width: 95%;
    margin: 0 0 20px 0;
  }

  .dropdown-container {
    align-self: center;
    width: 95%;
    margin: 0 20px;
  }
  
  .dropdown {
    width: 90%;
  }

  th {
    top: 175px;
  }
}